VITE_SUPABASE_URL=https://ifbzlqkimhygpctholfi.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmYnpscWtpbWh5Z3BjdGhvbGZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyODM5MzIsImV4cCI6MjA5NDg1OTkzMn0.i8rsZeb2WQRKnptS9_pXoOo6Lq5Hd1cNegM4gKR0-Yo
VITE_SUPABASE_APP_DATA_TABLE=app_data
VITE_SUPABASE_APP_DATA_ID=ifbzlqkimhygpctholfi
